body 
{
    background-color:white;
}

.col1 
{
    text-align:left;
    width: 75%;
}

.col2
{
    text-align:right;
    width:25%;
}

.bannertable
{
    margin: 0 auto;
    width: 100%;
    background-color: #1919A3;
    color:antiquewhite;
}

.tablelogin
{
    margin: 0 auto;
    width: 100%;
}

.mid 
{
    text-align:center;
    width:10%;
}

.side
{
    text-align:right;
    width:40%;
}

.midclass
{
    text-align:center;
}

.SubmitButton
{
    width: auto;
    border: 1px solid #787878;
    cursor: pointer;
    font-weight: 400;
    padding: 7px;
    margin-right: 8px;
}

.confirmbtn
{
    width: auto;
    border: 1px solid #787878;
    cursor: pointer;
    font-weight: 400;
    padding: 7px;
    margin-right: 8px;
}

.emptyLabel
{
    width:auto;
}

.ui-datepicker
{
    font-size: 150%;
}

.tableMenu
{
    text-align:center; 
    font-family:Arial; 
    font-size:medium;
}

.partialLogin
{
    display:inline;
}

.viewalltitle
{
    text-align:center;
    font-size:large;
}