@model iReserve.Models.ViewMealBookings

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div class="tableMenu">
    <h1>Welcome To iReserve</h1>
</div>
<table style="width:100%">
  <tr>
    <td>
        @Html.ActionLink("View Meal Bookings", "ViewFoodBookings") 
    </td>
    <td>
        
    </td> 
    <td>
        
    </td>
  </tr>
</table>

